<div class="container h-75">
  <div class="row h-100">
    <div class="col-sm-12 heading-container mt-5 pt-5">
      <h1 class="text-white font-weight-bold text-center home-heading">You Drive We Park</h1>
    </div>
    <div class="col-xs-12 col-md-8 text-center mx-auto ">
        <div class="input-group search_container">
          <div class="input-group-prepend">
            <button 
              mat-stroked-button 
              class="px-0 p-3 home-button text-warning" 
              id="basic-addon1"
            >
              <i class="fa fa-map-marker" aria-hidden="true"></i></button>
          </div>
          <input 
            type="text" 
            class="form-control search_input" 
            placeholder="Location" 
            aria-label="Location" 
            aria-describedby="basic-addon2"
          >
          <div class="input-group-append">
            <button 
              type='button' 
              mat-stroked-button  
              class='text-warning home-button px-0 p-3'
            >
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </div>
        </div>
    </div>
  </div>
</div>