@import "~src/app/shared_style/mixin.scss";

.home-button {
    background: #0000004a;
    @include font-base-style($size: 25px);
    // @include container-area(25%, null);
    @include responsive(sm) {
        @include font-base-style($size: 20px);
        @include container-area(50%, null);
    }
    @include responsive(xs) {
        @include font-base-style($size: 18px);
        @include container-area(80%, null);
    }
}

.home-heading {
    display: table-cell;
    vertical-align: bottom;
    @include font-base-style($size: 60px);
    @include text-shadow(1px 2px 2px #000!important);
}

.heading-container {
    display: table;
}

.search_input {
    color: white;
    background: #ffffff14;
    outline: none;
    border: 1px solid #fff; 
    font-size: 20px;
    font-weight: lighter;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.search_container {
    box-shadow: 0 16px 7px -14px black
}