.app-main-container {
    margin: 0;
    background-image: url("../assets/parkingBg3.png");
    height: 662px; 
    overflow: hidden;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}